/* temporary */
.taxHelpIntro {
  background: rgb(255, 225, 170);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  max-width: 800px;
  margin: 2rem auto;
  line-height: 1.6;
  color:black;
}

.taxHelpIntro h2,
.taxHelpIntro h3 {
  color: #1a202c;
}

.taxHelpIntro ul {
  margin-left: 1.5rem;
  list-style-type: disc;
}
