.homeContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  color: white;
  background-color: black;
  /* padding-left: 10%;
  padding-right: 10%; */
}

/* home page intro */
.homePageIntro {
  /* background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExemxyM2tvbW94YzUwZjc1ZTZoMWFoNmV3a25qbmxrNm51d3AyaXM0bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/78nXADhnE4BQfG4gup/giphy.gif"); */
  background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExaXlydDMwb2FzNXBwajlvNGFqc2Rnb2lmNHBkb290a3phbmJtejFnaSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/T56ypZF2ggnYZIwoS5/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.homePageIntro>div>h2 {
  font-size: 80px;
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}

.homePageIntro>div>p {
  font-size: 20px;
  line-height: 1.6;
  color: #f1f1f1;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
}

.homePageIntro>div {
  max-width: 50%;
}

.homePageIntro>div>button {
  background-color: Orange;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: lighter;
}

/* home page features */

.homePageFeatures {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("https://c1.wallpaperflare.com/preview/898/284/844/stock-trading-monitor-desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homePageFeaturesText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  right: 20%;
}

.homePageFeaturesText h3 {
  color: orange;
  font-size: 50px;
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
  text-align: start;
}

.featureList {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.featureList li {
  font-size: 25px;
  color: #f5f5f5;
  margin-bottom: 0.75rem;
  padding-right: 0.5rem;
  text-shadow: 3px 3px 3px black;
  transition: transform 0.2s ease;
  gap: 0.5rem;
  font-weight: heavy;
}

.featureList li:hover {
  transform: translateX(-5px);
  color: orange;
}

/* home page tool */
.homePageTools {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("/public/img/img2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: end;
}

.homePageTools>div {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  left: 20%;
}

.homePageTools>div>h3 {
  color: orange;
  font-size: 50px;
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}

.homePageTools>div>p {
  font-size: 20px;
  line-height: 1.6;
  color: #f1f1f1;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
}

/* home page premium */
.homePagePremium {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("/public/img/img3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homePagePremium>div {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  right: 20%;
}

.homePagePremium>div>h3 {
  color: orange;
  font-size: 50px;
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}

.homePagePremium>div>p {
  font-size: 20px;
  line-height: 1.6;
  color: #f1f1f1;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
}

.profileIcon {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.profileDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  border: 1px solid white;
  padding: 0.5rem;
  list-style: none;
  margin: 0;
  min-width: 120px;
  z-index: 10;
}


.profileDropdown li {
  margin: 0.5rem 0;
}

.profileDropdown li a {
  color: white;
  text-decoration: none;
}

.profileDropdown li a:hover {
  text-decoration: underline;
}

/* dashboard cards  */

.dashboardCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin: 2rem 0;
}

.dashboardCard {
  background-color: orange;
  border-radius: 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  min-width: 200px;
  max-width: 250px;
}

.dashboardCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
  background-color: rgb(189, 127, 12);
}