:root {
    --color-white: #b8b8b8;
    --color-black: #000000;
    --color-gray: #2b2d30;
    --color-accent-primary: #ff8c00;
    --color-accent-primary-dark: #cc6600;
    --color-accent-secondary: #3182ce;

    --color-black-glass-bg: rgba(0, 0, 0, 0.7);
    --color-white-glass-bg: rgba(255, 255, 255, 0.1);
    --color-glass-border: rgba(255, 255, 255, 0.2);

    --color-shadow-dark: rgba(0, 0, 0, 0.3);

    --navbar-height: 100px;
}

body {
    margin: 0;
    background-color: #0e0e0e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--color-white);
}

select {
    color: var(--color-white);
    background-color: var(--color-gray);
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    font-size: 1rem;
    border: none;
}

a:has(button) {
    text-decoration: none;
}

h1 {
    font-size: 1.8rem;
}

.tuck-under-navbar {
    margin-top: calc(var(--navbar-height) * -1);
}

.text-center {
    text-align: center;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.primary-button {
    background-color: var(--color-accent-primary);
    /* border: none; */
    /* border-radius: 6px; */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.primary-button:hover {
    background-color: var(--color-accent-primary-dark);
}

.centered-container {
    max-width: 1200px;
    margin: 2rem auto;
}

.rounded {
    border-radius: 1rem;
    padding: 1rem;
}

.rounded-slight {
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.shadowed {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.glass {
    background-color: var(--color-black-glass-bg);
    border: 1px solid var(--color-glass-border);
}